flows (1).json
[
    {
        "id": "62cb586af78af4a2",
        "type": "tab",
        "label": "Proyecto",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "08b0741150132776",
        "type": "mqtt in",
        "z": "62cb586af78af4a2",
        "name": "SUSCRIPTOR",
        "topic": "iot/proyecto/temperatura",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "c9da094135f86a9a",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 80,
        "y": 260,
        "wires": [
            [
                "082902dd9d42eec1",
                "668a568486d16945",
                "5996c09684fbe2b8",
                "010466e69df823e0",
                "9490ab1d589779dc"
            ]
        ]
    },
    {
        "id": "082902dd9d42eec1",
        "type": "function",
        "z": "62cb586af78af4a2",
        "name": "Temp",
        "func": "var temperatura = msg.payload = msg.payload.split(\",\")[3]; \n\nmsg.topic = \"INSERT INTO sensor_value(id_sensor, value)VALUES(1, '\"+temperatura+\"');\"\nreturn msg;\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 270,
        "y": 160,
        "wires": [
            [
                "cc9670c33f576739",
                "aadac8929d89deb7"
            ]
        ]
    },
    {
        "id": "668a568486d16945",
        "type": "function",
        "z": "62cb586af78af4a2",
        "name": "hum",
        "func": "/*if (typeof msg.payload === 'string') {\n    msg.payload = msg.payload.split(\",\")[4];\n}*/\n\nvar humedad = msg.payload = msg.payload.split(\",\")[4];\n\nmsg.topic = \"INSERT INTO sensor_value(id_sensor, value)VALUES(1, '\" + humedad + \"');\"\nreturn msg;\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 270,
        "y": 220,
        "wires": [
            [
                "e4bcae271382358e",
                "aadac8929d89deb7"
            ]
        ]
    },
    {
        "id": "cc9670c33f576739",
        "type": "ui_gauge",
        "z": "62cb586af78af4a2",
        "name": "",
        "group": "de191c2d44b4c440",
        "order": 2,
        "width": "0",
        "height": "0",
        "gtype": "gage",
        "title": "Temperatura",
        "label": "C",
        "format": "{{value}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#b3007a",
            "#006fe6",
            "#cbbe3a"
        ],
        "seg1": "40",
        "seg2": "70",
        "className": "",
        "x": 450,
        "y": 120,
        "wires": []
    },
    {
        "id": "e4bcae271382358e",
        "type": "ui_gauge",
        "z": "62cb586af78af4a2",
        "name": "",
        "group": "de191c2d44b4c440",
        "order": 1,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Humedad",
        "label": "%",
        "format": "{{value}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "30",
        "seg2": "70",
        "className": "",
        "x": 440,
        "y": 220,
        "wires": []
    },
    {
        "id": "c8c0f9dcbb4bbc63",
        "type": "mqtt out",
        "z": "62cb586af78af4a2",
        "name": "",
        "topic": "iot/proyecto/servo",
        "qos": "2",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "a90b13cb.1595c",
        "x": 690,
        "y": 560,
        "wires": []
    },
    {
        "id": "aadac8929d89deb7",
        "type": "mysql",
        "z": "62cb586af78af4a2",
        "mydb": "e00d274cfd1893ad",
        "name": "",
        "x": 660,
        "y": 260,
        "wires": [
            []
        ]
    },
    {
        "id": "3b4ed5c9c9d8c9df",
        "type": "ui_switch",
        "z": "62cb586af78af4a2",
        "name": "",
        "label": "Mover Servo",
        "tooltip": "",
        "group": "665d34315ea2a215",
        "order": 2,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "micasa/plantabaja/servo",
        "topicType": "msg",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 370,
        "y": 560,
        "wires": [
            [
                "c8c0f9dcbb4bbc63"
            ]
        ]
    },
    {
        "id": "9490ab1d589779dc",
        "type": "ui_chart",
        "z": "62cb586af78af4a2",
        "name": "",
        "group": "5cc4e85942b859ef",
        "order": 4,
        "width": 0,
        "height": 0,
        "label": "Historico",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 140,
        "y": 420,
        "wires": [
            []
        ]
    },
    {
        "id": "5996c09684fbe2b8",
        "type": "function",
        "z": "62cb586af78af4a2",
        "name": "gas",
        "func": "var gas = msg.payload = msg.payload.split(\",\")[0];\n\nmsg.topic = \"INSERT INTO sensor_value(id_sensor, value)VALUES(2, '\" + gas + \"');\"\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 270,
        "y": 300,
        "wires": [
            [
                "aadac8929d89deb7",
                "21b2d9a5cc1e1dc2"
            ]
        ]
    },
    {
        "id": "21b2d9a5cc1e1dc2",
        "type": "ui_gauge",
        "z": "62cb586af78af4a2",
        "name": "",
        "group": "dd7b476a65099486",
        "order": 0,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Sonido",
        "label": "",
        "format": "{{value}}",
        "min": 0,
        "max": "5000",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "className": "",
        "x": 460,
        "y": 300,
        "wires": []
    },
    {
        "id": "3b7ef12107c8371b",
        "type": "ui_gauge",
        "z": "62cb586af78af4a2",
        "name": "",
        "group": "9c1e5c46dd56e6f6",
        "order": 0,
        "width": 0,
        "height": 0,
        "gtype": "compass",
        "title": "Flama",
        "label": "units",
        "format": "{{value}}",
        "min": 0,
        "max": "1",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "className": "",
        "x": 450,
        "y": 360,
        "wires": []
    },
    {
        "id": "010466e69df823e0",
        "type": "function",
        "z": "62cb586af78af4a2",
        "name": "flama",
        "func": "var flama = msg.payload = msg.payload.split(\",\")[2];\n\nmsg.topic = \"INSERT INTO sensor_value(id_sensor, value)VALUES(3, '\" + flama + \"');\"\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 270,
        "y": 360,
        "wires": [
            [
                "3b7ef12107c8371b",
                "aadac8929d89deb7"
            ]
        ]
    },
    {
        "id": "040be95ff650221f",
        "type": "ui_spacer",
        "z": "62cb586af78af4a2",
        "name": "spacer",
        "group": "de191c2d44b4c440",
        "order": 1,
        "width": 1,
        "height": 1
    },
    {
        "id": "c9da094135f86a9a",
        "type": "mqtt-broker",
        "name": "Broker Publico",
        "broker": "broker.emqx.io",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "de191c2d44b4c440",
        "type": "ui_group",
        "name": "Temperatura y Humedad",
        "tab": "8b157340b133210b",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "a90b13cb.1595c",
        "type": "mqtt-broker",
        "name": "Local",
        "broker": "127.0.0.1",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "e00d274cfd1893ad",
        "type": "MySQLdatabase",
        "name": "",
        "host": "127.0.0.1",
        "port": "3306",
        "db": "iot3",
        "tz": "",
        "charset": "UTF8"
    },
    {
        "id": "665d34315ea2a215",
        "type": "ui_group",
        "name": "Actuadores",
        "tab": "8b157340b133210b",
        "order": 2,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "5cc4e85942b859ef",
        "type": "ui_group",
        "name": "Historicos",
        "tab": "8b157340b133210b",
        "order": 3,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "dd7b476a65099486",
        "type": "ui_group",
        "name": "MQ2",
        "tab": "8b157340b133210b",
        "order": 4,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "9c1e5c46dd56e6f6",
        "type": "ui_group",
        "name": "KY026",
        "tab": "8b157340b133210b",
        "order": 5,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "8b157340b133210b",
        "type": "ui_tab",
        "name": "Sensores",
        "icon": "dashboard",
        "order": 2,
        "disabled": false,
        "hidden": false
    }
]